:host {
    background:
        url('./../assets/images/box/box-edge.gif') no-repeat bottom left,
        url('./../assets/images/box/box-edge.gif') no-repeat bottom right,
        url('./../assets/images/box/box-edge.gif') no-repeat top left,
        url('./../assets/images/box/box-edge.gif') no-repeat top right,
        url('./../assets/images/box/box-vertical.gif') no-repeat repeat 1px 5px,
        url('./../assets/images/box/box-vertical.gif') no-repeat repeat calc(100% - 1px) 5px,
        url('./../assets/images/box/box-horizontal.gif') repeat no-repeat 5px 1px,
        url('./../assets/images/box/box-horizontal.gif') repeat no-repeat 5px calc(100% - 1px);
    display: block;
    padding: 5px 4px;
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        background-color: #d4c0a1;
        bottom: 5px;
        left: 4px;
        position: absolute;
        right: 4px;
        top: 5px;
        z-index: -1;
    }
}
