:root,
html,
body {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

html {
    background-color: #051122;
    background-image: url('./../images/base/background-artwork.jpg');
    background-position: center top;
    background-repeat: no-repeat;
}


body {
    background-color: transparent;
    margin: 0 auto;
    max-width: 1280px
}
