:root,
html,
body {
    font-size: 12px;
}

html,
body {
    height: 100%;
}

html {
    background-color: #051122;
    background-image: url('./../images/background-artwork.jpg');
    background-position: center top;
    background-repeat: no-repeat;
}


body {
    background-color: transparent;
}
