:host {
    background:
        url('./../assets/images/corner-tl.gif') no-repeat left top,
        url('./../assets/images/corner-tr.gif') no-repeat right top,
        url('./../assets/images/corner-bl.gif') no-repeat left bottom,
        url('./../assets/images/corner-br.gif') no-repeat right bottom,
        url('./../assets/images/border-1.gif') repeat-x center 4px,
        url('./../assets/images/border-1.gif') repeat-x center calc(100% - 4px);
    display: block;
    padding: 10px 3px;
    pointer-events: none;

    > div {
        background-color: #debb9d;
        border-left: 2px solid #3a3738;
        border-right: 2px solid #3a3738;
        pointer-events: all;
        position: relative;
        z-index: -2;
    }
}
