:host {
    align-items: center;
    background: url('./../assets/images/headline-background.gif') repeat-x;
    background-size: contain;
    border: 1px solid #000;
    color: white;
    display: flex;
    height: 32px;
    line-height: 26px;
    margin-bottom: 1rem;
    padding: 0 .5rem;
}
